
.universe {
    text-align: center;
    padding: 32px;
    background-color: var(--back-dc);
}

.universe h3{
    font-size: 32px;
    border-bottom: 4px solid #0476F2;
    display: inline-block;
    padding-bottom: 8px;
}